<nav class="ecom-categories-panel" data-cy="categoriesList">
  <ng-template #categoryTemplateRef let-category>
    <li ngbDropdown routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <div class="ecom-category">
        <ul>
          <a ngbDropdownToggle href="javascript:void(0);" class="dropdown-toggle"></a>
          <a [routerLink]="['/']" [queryParams]="{ category: category.id }">
            {{ category.name }}
          </a>
          <div ngbDropdownMenu *ngIf="category.children.length" class="node__children ecom-categories-children">
            <!-- Invoke the recursive template. -->
            <ng-template ngFor [ngForOf]="category.children" [ngForTemplate]="categoryTemplateRef">
              <!--
                NOTE: The "$implicit" property of the ngFor context is what will
                be made available to the template ref's implicit let-node binding.
              -->
            </ng-template>
          </div>
        </ul>
      </div>
    </li>
  </ng-template>

  <ul class="ecom-categories-list">
    <div *ngFor="let cat of listCategory">
      <ng-template [ngTemplateOutlet]="categoryTemplateRef" [ngTemplateOutletContext]="{ $implicit: cat }"> </ng-template>
    </div>
  </ul>
</nav>
