<div>
  <div data-cy="ProductsHeading">
    <div *ngIf="this.query === undefined || this.query === ''; else elseBlock">
      <h2 class="ecom-title-header" jhiTranslate="ecomApp.product.home.title">Products</h2>
    </div>
    <ng-template #elseBlock>
      <h2 class="ecom-title-header" jhiTranslate="ecomApp.product.research_result">Products results for :</h2>
      <span>"{{ this.query }}"</span>
    </ng-template>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div *ngIf="products?.length === 0">
    <span jhiTranslate="ecomApp.product.home.notFound">No products found</span>
  </div>

  <div *ngIf="products && products.length > 0">
    <div>
      <div id="ecom-list-products">
        <div class="ecom-product" *ngFor="let product of products; trackBy: trackId" data-cy="entityTable">
          <div class="ecom-product-img">
            <div><img src="{{ product.imagePath }}" srcset="../../../content/images/default-products.png" alt="Image produit" /></div>
          </div>
          <div class="ecom-product-price">
            <span>{{ product.price }} €</span>
            <!--            <span>{{ product.weight * product.price / 1000 }}</span>-->
          </div>
          <div class="ecom-product-info">
            <span
              ><a [routerLink]="['/product', product.id, 'view']">{{ product.name }}</a></span
            >
            <span>{{ product.origin }}</span>
          </div>
          <div class="ecom-product-subinfo">
            <span>{{ product.brand }}</span>
            <span *ngIf="product.weight != 0; else elseQuantity">{{ product.weight }}</span>
            <ng-template #elseQuantity
              ><span>Lot de {{ product.quantity }}</span></ng-template
            >
          </div>
          <div>
            <span *ngFor="let tags of product.tags; let last = last">
              <a [routerLink]="['/tag', tags.id, 'view']">{{ tags.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </div>
          <div class="ecom-product-button">
            <div *ngIf="account == null || !isPresent(product.id); else elseBlock">
              <button
                class="ecom-product-button-add ecom-button"
                type="submit"
                (click)="addToCart(product)"
                data-cy="entityAddTodCartButton"
              >
                <span jhiTranslate="ecomApp.product.addToCart">Ajouter</span>
                <fa-icon icon="plus"></fa-icon>
              </button>
            </div>
            <ng-template #elseBlock>
              <div>
                <button
                  class="ecom-product-button-minus ecom-button"
                  type="submit"
                  (click)="updateQuantityProduct(product, quantityProduct(product) - 1)"
                  data-cy="entityDecreaseProductCartButton"
                >
                  <fa-icon icon="minus"></fa-icon>
                </button>
                <input
                  class="ecom-product-button-text"
                  id="product_{{ product.id }}}"
                  type="text"
                  pattern="[0-9]*"
                  (change)="updateQuantityProductByText(product, $event)"
                  [value]="quantityProduct(product)"
                />
                <button
                  class="ecom-product-button-plus ecom-button"
                  type="submit"
                  (click)="updateQuantityProduct(product, quantityProduct(product) + 1)"
                  data-cy="entityIncreaseProductCartButton"
                >
                  <fa-icon icon="plus"></fa-icon>
                </button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div id="ecom-button-see-cart" *ngIf="account != null">
      <button type="submit" class="ecom-button" routerLink="/panier">Voir panier</button>
    </div>
  </div>
</div>
