<div>
  <div>
    <div *ngIf="product">
      <h2 data-cy="productDetailsHeading"><span jhiTranslate="ecomApp.product.detail.title">Product</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl>
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ product.id }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.product.name">Name</span></dt>
        <dd>
          <span>{{ product.name }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.product.description">Description</span></dt>
        <dd>
          <span>{{ product.description }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.product.quantity">Quantity</span></dt>
        <dd>
          <span>{{ product.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.product.version">Version</span></dt>
        <dd>
          <span>{{ product.version }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.product.origin">Origin</span></dt>
        <dd>
          <span>{{ product.origin }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.product.brand">Brand</span></dt>
        <dd>
          <span>{{ product.brand }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.product.imagePath">Image Path</span></dt>
        <dd>
          <span>{{ product.imagePath }}</span>
          <div *ngIf="product.imagePath != null">
            <img [src]="product.imagePath" alt="Image produit" width="128" height="128" />
          </div>
        </dd>
        <dt><span jhiTranslate="ecomApp.product.price">Price</span></dt>
        <dd>
          <span>{{ product.price }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.product.weight">Weight</span></dt>
        <dd>
          <span>{{ product.weight }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.product.weightUnit">Weight Unit</span></dt>
        <dd>
          <span jhiTranslate="{{ 'ecomApp.WeightUnit.' + product.weightUnit }}">{{ product.weightUnit }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.product.category">Category</span></dt>
        <dd>
          <div *ngIf="product.category">
            <a [routerLink]="['/category', product.category?.id, 'view']">{{ product.category?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="ecomApp.product.relatedCategories">Related Categories</span></dt>
        <dd>
          <span *ngFor="let relatedCategories of product.relatedCategories; let last = last">
            <a [routerLink]="['/category', relatedCategories?.id, 'view']">{{ relatedCategories.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="ecomApp.product.tags">Tags</span></dt>
        <dd>
          <span *ngFor="let tags of product.tags; let last = last">
            <a [routerLink]="['/tag', tags?.id, 'view']">{{ tags.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
