<div>
  <div>
    <div class="ecom-detail-product" *ngIf="product">
      <h2 data-cy="productDetailsHeading" class="ecom-title-header">Détails produit</h2>

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>
      <div>
        <button
          class="ecom-button ecom-button-next ecom-shadow-button"
          type="submit"
          (click)="previousState()"
          data-cy="entityDetailsBackButton"
        >
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>
      </div>
      <div class="ecom-detail-product-info">
        <div>
          <div>
            <img
              [src]="product.imagePath"
              srcset="../../../../content/images/default-products.png"
              alt="Image produit"
              width="128"
              height="128"
            />
          </div>
          <div [ngClass]="{ 'ecom-detail-product-oldprice': this.promotionService.inPromotion(product) }">
            <span>Prix payé par article</span>
            <span>{{ product.price!.toString().replace('.', ',') }} €</span>
            <span *ngIf="this.promotionService.inPromotion(product)"
              >{{ getPricePromo(this.promotionService.getPromotion(product), product.price) }} €</span
            >
          </div>
        </div>
        <div>
          <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span jhiTranslate="global.field.id">ID</span>
            <span>{{ product.id }}</span>
          </div>
          <div>
            <span>{{ product.name }}</span>
          </div>
          <div>
            <span jhiTranslate="ecomApp.product.origin">Origin</span>
            <span>{{ product.origin }}</span>
          </div>
          <div>
            <span jhiTranslate="ecomApp.product.brand">Brand</span>
            <span>{{ product.brand }}</span>
          </div>
          <div>
            <span jhiTranslate="ecomApp.product.weight">Weight</span>
            <span>{{ product.weight }} {{ product.weightUnit }}</span>
          </div>
          <div [ngClass]="{ 'ecom-detail-product-oldprice': this.promotionService.inPromotion(product) }">
            <span>Prix au {{ unitOfPrice(product.weightUnit!) }}</span>
            <span>{{ getPriceWeightStr(product.price!, product.weight!, product.weightUnit!) }}€/{{ getStringWeight(product) }}</span>
            <span *ngIf="this.promotionService.inPromotion(product)"
              >{{ getPriceWeightStrCardPromo(product, this.promotionService.getPromotion(product)) }} €/{{ getStringWeight(product) }}</span
            >
          </div>
          <div>
            <span jhiTranslate="ecomApp.product.description">Description</span>
            <span>{{ product.description }}</span>
          </div>
        </div>
        <div>
          <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span jhiTranslate="ecomApp.product.quantity">Quantity</span>
            <span>{{ product.quantity }}</span>
          </div>
          <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span jhiTranslate="ecomApp.product.version">Version</span>
            <span>{{ product.version }}</span>
          </div>
          <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span jhiTranslate="ecomApp.product.weightUnit">Weight Unit</span>
            <span jhiTranslate="{{ 'ecomApp.WeightUnit.' + product.weightUnit }}">{{ product.weightUnit }}</span>
          </div>
          <div>
            <span jhiTranslate="ecomApp.product.category">Category</span>
            <div *ngIf="product.category">
              <a [routerLink]="['/category', product.category?.id, 'view']">{{ product.category?.name }}</a>
            </div>
          </div>
          <div>
            <span jhiTranslate="ecomApp.product.relatedCategories">Related Categories</span>
            <span *ngFor="let relatedCategories of product.relatedCategories; let last = last">
              <a [routerLink]="['/category', relatedCategories?.id, 'view']">{{ relatedCategories.name }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </div>
          <div>
            <span jhiTranslate="ecomApp.product.tags">Tags</span>
            <span *ngFor="let tags of product.tags; let last = last">
              <a [routerLink]="['/tag', tags?.id, 'view']">{{ tags.name }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </div>
        </div>
      </div>
      <div>
        <button
          class="ecom-button ecom-button-next ecom-shadow-button"
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          type="button"
          [routerLink]="['/product', product.id, 'edit']"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    </div>
  </div>
</div>
