<div class="ecom-products-and-categories">
  <div>
    <div data-cy="ProductsHeading">
      <div *ngIf="this.query === undefined || this.query === ''; else elseBlock">
        <h2 class="ecom-title-header">{{this.title}}</h2>
      </div>
      <ng-template #elseBlock>
        <div class="ecom-query-header">
          <h2 class="ecom-title-header">{{ this.nbQuery }} élément(s) correspondant à votre recherche :</h2>
        </div>
      </ng-template>
    </div>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <jhi-list-product [products]="this.products"></jhi-list-product>
    <div class="ecom-button-see-cart">
      <button type="submit" class="ecom-button ecom-button-next ecom-shadow-button" routerLink="/panier">Voir panier</button>
    </div>
  </div>
</div>
