<div class="row justify-content-center">
  <div class="col-8">
    <form class="form" role="form" (ngSubmit)="generateOrder()" [formGroup]="editForm">
      <h2 id="jhi-order-heading" data-cy="OrderCreateUpdateHeading" jhiTranslate="ecomApp.payment.title">Paiement</h2>

      <div class="form-group">
        <label class="form-control-label" jhiTranslate="ecomApp.payment.form.order.receptionDate.label" for="field_receptionDate"
          >Date de réception</label
        >
        <div class="d-flex">
          <input
            id="field_receptionDate"
            data-cy="receptionDate"
            type="datetime-local"
            class="form-control"
            name="receptionDate"
            formControlName="receptionDate"
            placeholder="YYYY-MM-DD HH:mm"
          />
        </div>
        <div
          *ngIf="editForm.get('receptionDate')!.invalid && (editForm.get('receptionDate')!.dirty || editForm.get('receptionDate')!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('receptionDate')?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
          <small
            class="form-text text-danger"
            [hidden]="!editForm.get('receptionDate')?.errors?.ZonedDateTimelocal"
            jhiTranslate="entity.validation.ZonedDateTimelocal"
          >
            This field should be a date and time.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" jhiTranslate="ecomApp.payment.form.order.promoCode.label" for="field_promoCode">Promo Code</label>
        <input type="text" class="form-control" name="promoCode" id="field_promoCode" data-cy="promoCode" formControlName="promoCode" />
      </div>

      <div class="form-group">
        <label class="form-control-label" jhiTranslate="ecomApp.payment.form.cb.title" for="field_cbName">Carte bancaire</label>
        <input
          type="text"
          class="form-control"
          name="cbName"
          id="field_cbName"
          data-cy="cbName"
          formControlName="cbName"
          oninput="this.value = this.value.toUpperCase()"
          placeholder="{{ 'ecomApp.payment.form.cb.name.placeholder' | translate }}"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="cbNumber"
          id="field_cbNumber"
          data-cy="cbNumber"
          formControlName="cbNumber"
          placeholder="{{ 'ecomApp.payment.form.cb.number.placeholder' | translate }}"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="cbExpirationDate"
          id="field_cbExpirationDate"
          data-cy="cbExpirationDate"
          formControlName="cbExpirationDate"
          maxlength="5"
          placeholder="{{ 'ecomApp.payment.form.cb.expirationDate.placeholder' | translate }}"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="cbCVC"
          id="field_cbCVC"
          data-cy="cbCVC"
          formControlName="cbCVC"
          maxlength="3"
          placeholder="{{ 'ecomApp.payment.form.cb.cvc.placeholder' | translate }}"
        />
      </div>

      <div>{{ 'ecomApp.payment.totalPrice' | translate }} {{ totalPrice }} €</div>
      <div>{{ 'ecomApp.payment.totalSaved' | translate }} {{ totalSaved }} €</div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="ecomApp.payment.action.seeCart">Panier</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="btn btn-primary"
          [disabled]="editForm.invalid || isLoading || isSaving"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="ecomApp.payment.action.pay">Payer</span>
        </button>

        <button type="button" class="btn btn-primary" (click)="applyPromoCode()">
          <fa-icon icon="search"></fa-icon>&nbsp;<span jhiTranslate="ecomApp.payment.action.applyPromoCode">Payer</span>
        </button>
      </div>
    </form>
  </div>
</div>
