<div>
  <h2 data-cy="ProductsHeading" class="ecom-title-header">Cart</h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div *ngIf="cart?.lines?.length === 0">
    <span jhiTranslate="ecomApp.cart.empty">Empty card</span>
  </div>

  <div *ngIf="cart && cart?.lines?.length !== 0">
    <div>
      <div id="ecom-cart-products">
        <div class="ecom-cart" *ngFor="let lineProduct of cart?.lines; trackBy: trackId" data-cy="entityTable">
          <div class="ecom-cart-img">
            <div>
              <img src="{{ lineProduct.product?.imagePath }}" srcset="../../../content/images/default-products.png" alt="Image produit" />
            </div>
          </div>
          <div>
            <div class="ecom-productCart-info">
              <span
                ><a [routerLink]="['/product', lineProduct.product?.id, 'view']">{{ lineProduct.product?.name }}</a> -
                {{ lineProduct.product?.origin }}</span
              >
              <span>{{ lineProduct.product?.brand }} {{ lineProduct.product?.weight }} {{ lineProduct.product?.weightUnit }}</span>
            </div>
            <div class="ecom-productCart-prices">
              <span>Prix unitaire : {{ lineProduct.product?.price | number: '0.2' }} €</span>
              <span *ngIf="lineProduct.product!.weightUnit !== 'U'"
                >Prix au {{ unitOfPrice(lineProduct.product!.weightUnit!) }} : {{ 0.0 | number: '0.2' }} €</span
              >
              <!-- <span>{{ product.weight * product.price / 1000 }}</span>-->
            </div>
          </div>
          <div class="ecom-productCart-tags">
            <p *ngIf="lineProduct.product?.tags?.length != 0">
              Tags :
              <span [ngStyle]="{ 'background-color': '#' + tags.color }" *ngFor="let tags of lineProduct.product!.tags">
                <a [routerLink]="['/tag', tags.id, 'view']">{{ tags.name }}</a>
              </span>
            </p>
          </div>
          <div class="ecom-productcart-button">
            <div>
              <button
                class="ecom-product-button-minus ecom-button"
                type="submit"
                (click)="updateQuantityProductCart(lineProduct, (lineProduct.quantity ?? 0) - 1)"
                data-cy="entityDecreaseProductCartButton"
                title="Diminuer la quantite"
              >
                <fa-icon icon="minus"></fa-icon>
              </button>
              <input
                class="ecom-product-button-text"
                type="text"
                pattern="[0-9]*"
                (change)="updateQuantityProductCartByText(lineProduct, $event)"
                [value]="lineProduct.quantity ?? 0"
                title="Définir la quantite"
              />
              <button
                class="ecom-product-button-plus ecom-button"
                type="submit"
                (click)="updateQuantityProductCart(lineProduct, (lineProduct.quantity ?? 0) + 1)"
                data-cy="entityIncreaseProductCartButton"
                title="Augmenter la quantite"
              >
                <fa-icon icon="plus"></fa-icon>
              </button>
            </div>
          </div>
          <div class="ecom-productcart-delete">
            <button
              title="Supprimer le produit du panier"
              class="ecom-button"
              type="submit"
              (click)="deleteLine(lineProduct)"
              data-cy="entityDeleteButton"
            >
              <fa-icon icon="trash"></fa-icon>
            </button>
          </div>
          <div class="ecom-productcart-price">
            <span>Prix : {{ lineProduct.product!.price! * lineProduct!.quantity! | number: '0.2' }} €</span>
          </div>
        </div>
      </div>
      <div class="ecom-cart-button">
        <div>Total à payer : {{ total }} €</div>
        <div class="ecom-button-see-cart">
          <button type="submit" routerLink="/payment" class="ecom-button ecom-button-next ecom-shadow-button">Passer au paiement</button>
        </div>
      </div>
    </div>
  </div>
</div>
