<div>
  <h2 id="page-heading" data-cy="ProductsHeading">
    <span jhiTranslate="global.menu.entities.cart">Cart</span>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cart?.lines?.length === 0">
    <span jhiTranslate="ecomApp.cart.home.notFound">Empty card</span>
  </div>

  <!--TO DO-->
  <div class="table-responsive" id="entities" *ngIf="cart && cart?.lines?.length !== 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr>
        <th scope="col"><span jhiTranslate="ecomApp.productCart.id">ID Product Cart</span></th>
        <th scope="col"><span jhiTranslate="global.field.id">ID Product</span></th>
        <th scope="col"><span jhiTranslate="ecomApp.product.name">Name</span></th>
        <th scope="col"><span jhiTranslate="ecomApp.product.description">Description</span></th>
        <th scope="col"><span jhiTranslate="ecomApp.product.origin">Origin</span></th>
        <th scope="col"><span jhiTranslate="ecomApp.product.imagePath">Image Path</span></th>
        <th scope="col"><span jhiTranslate="ecomApp.product.price">Price</span></th>
        <th scope="col"><span jhiTranslate="ecomApp.productCart.quantity">Quantity</span></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let lineProduct of cart?.lines; trackBy: trackId" data-cy="entityTable">
        <td>{{ lineProduct.id }}</td>
        <td>
          <a [routerLink]="['/product', lineProduct.product?.id, 'view']">{{ lineProduct.product?.id }}</a>
        </td>
        <td>{{ lineProduct.product?.name }}</td>
        <td>{{ lineProduct.product?.description }}</td>
        <td>{{ lineProduct.product?.origin }}</td>
        <td>{{ lineProduct.product?.imagePath }}</td>
        <td>{{ lineProduct.product?.price }}</td>
        <td>{{ lineProduct.quantity }}</td>
        <td class="text-right">
          <div class="btn-group">
            <button type="submit" (click)="delete(lineProduct)" class="btn btn-primary btn-sm" data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
