<div>
  <div>
    <div>
      <div class="ecom-log-form">
        <div>
          <div class="ecom-log-title">
            <h1 jhiTranslate="login.title" data-cy="loginTitle">Sign in</h1>
            <div *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication" data-cy="loginError">
              <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
          </div>
          <div>
            <form role="form" (ngSubmit)="login()" [formGroup]="loginForm">
              <div class="ecom-log-label-input">
                <label for="username" jhiTranslate="global.form.username.label">Login</label>
                <div>
                  <input
                    class="ecom-input-default"
                    type="text"
                    name="username"
                    id="username"
                    placeholder="{{ 'global.form.username.placeholder' | translate }}"
                    formControlName="username"
                    #username
                    data-cy="username"
                  />
                </div>
              </div>

              <div class="ecom-log-label-input">
                <label for="password" jhiTranslate="login.form.password">Password</label>
                <div>
                  <input
                    class="ecom-input-default"
                    type="password"
                    name="password"
                    id="password"
                    placeholder="{{ 'login.form.password.placeholder' | translate }}"
                    formControlName="password"
                    data-cy="password"
                  />
                </div>
              </div>

              <div class="ecom-log-rember">
                <label for="rememberMe">
                  <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
                  <span jhiTranslate="login.form.rememberme">Remember me</span>
                </label>
              </div>
              <div class="ecom-log-button">
                <button class="ecom-button ecom-button-next" type="submit" jhiTranslate="login.form.button" data-cy="submit">
                  Sign in
                </button>
              </div>
            </form>
            <div class="ecom-log-link">
              <div>
                <a
                  class="ecom-link"
                  routerLink="/account/reset/request"
                  jhiTranslate="login.password.forgot"
                  data-cy="forgetYourPasswordSelector"
                >
                  Did you forget your password?
                </a>
              </div>
              <div>
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="ecom-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link"
                  >Register a new account</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
