<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="userDetails">
      <h2 data-cy="userDetailsDetailsHeading"><span jhiTranslate="ecomApp.userDetails.detail.title">User Details</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ userDetails.id }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.userDetails.role">Role</span></dt>
        <dd>
          <span jhiTranslate="{{ 'ecomApp.Role.' + userDetails.role }}">{{ userDetails.role }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.userDetails.birthDate">Birth Date</span></dt>
        <dd>
          <span>{{ userDetails.birthDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.userDetails.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ userDetails.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.userDetails.address">Address</span></dt>
        <dd>
          <div *ngIf="userDetails.address">
            <a [routerLink]="['/address', userDetails.address?.id, 'view']">{{ userDetails.address?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="ecomApp.userDetails.user">User</span></dt>
        <dd>
          <span>{{ userDetails.user?.id }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.userDetails.cart">Cart</span></dt>
        <dd>
          <div *ngIf="userDetails.cart">
            <a [routerLink]="['/cart', userDetails.cart?.id, 'view']">{{ userDetails.cart?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="ecomApp.userDetails.favorites">Favorites</span></dt>
        <dd>
          <span *ngFor="let favorites of userDetails.favorites; let last = last">
            <a [routerLink]="['/product', favorites?.id, 'view']">{{ favorites.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="ecomApp.userDetails.preferences">Preferences</span></dt>
        <dd>
          <span *ngFor="let preferences of userDetails.preferences; let last = last">
            <a [routerLink]="['/tag', preferences?.id, 'view']">{{ preferences.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/user-details', userDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
