<div *ngIf="this.productCart" class="ecom-cart">
  <div class="ecom-cart-img">
    <div>
      <img
        srcset="{{ this.productCart.product?.imagePath }} ../../../../content/images/default-products.png"
        alt="Image produit"
        src="{{ this.productCart.product?.imagePath }}"
        onerror="this.onerror=null; this.src='../../../../content/images/default-products.png'"
      />
    </div>
    <div class="ecom-productCart-promo-band" *ngIf="this.promotionService.inPromotion(this.productCart.product!)">
      {{ this.promotionService.getPromotion(this.productCart.product!) }}
    </div>
  </div>
  <div>
    <div class="ecom-productCart-info">
      <span>
        <a [routerLink]="['/product', this.productCart.product?.id, 'view']">{{ this.productCart.product?.name }}</a> -
        {{ this.productCart.product?.origin }}
      </span>
      <span>{{ this.productCart.product?.brand }} {{ this.productCart.product?.weight }} {{ this.productCart.product?.weightUnit }}</span>
    </div>
    <div
      class="ecom-productCart-prices"
      [ngClass]="{ 'ecom-productCart-oldprice': this.promotionService.inPromotion(this.productCart.product!) }"
    >
      <div>
        <span>Prix unitaire : </span>
        <span>{{ this.productCart.product?.price | number: '0.2' }} €</span>
        <span *ngIf="this.promotionService.inPromotion(this.productCart.product!)">{{ this.getPrice(this.productCart).toFixed(2) }} €</span>
      </div>
      <div *ngIf="this.productCart.product!.weightUnit !== 'U'">
        <span>Prix au {{ this.unitOfPrice(this.productCart.product!.weightUnit!) }} :</span>
        <span>{{ getPriceWeightStrLine(this.productCart.product!) }} €/{{ this.getStringWeight(this.productCart.product!) }}</span>
        <span *ngIf="this.promotionService.inPromotion(this.productCart.product!)"
          >{{ getPriceWeightStrCardPromo(this.promotionService.getPromotion(this.productCart.product!), this.productCart.product!) }} €/{{
            this.getStringWeight(this.productCart.product!)
          }}</span
        >
      </div>
    </div>
  </div>
  <div class="ecom-productCart-tags">
    <p *ngIf="this.productCart.product?.tags?.length != 0">
      Tags :
      <span [ngStyle]="{ 'background-color': '#' + tags.color }" *ngFor="let tags of this.productCart.product!.tags">
        <a [routerLink]="['/tag', tags.id, 'view']">{{ tags.name }}</a>
      </span>
    </p>
  </div>
  <div class="ecom-productcart-button">
    <div>
      <button
        class="ecom-product-button-minus ecom-button"
        type="submit"
        (click)="updateQuantityProductCart(this.productCart, (this.productCart.quantity ?? 0) - 1)"
        data-cy="entityDecreaseProductCartButton"
        title="Diminuer la quantite"
      >
        <fa-icon icon="minus"></fa-icon>
      </button>
      <input
        class="ecom-product-button-text"
        type="text"
        pattern="[0-9]*"
        (change)="this.updateQuantityProductCartByText(this.productCart, $event)"
        [value]="this.productCart.quantity ?? 0"
        title="Définir la quantite"
      />
      <button
        class="ecom-product-button-plus ecom-button"
        type="submit"
        (click)="this.updateQuantityProductCart(this.productCart, (this.productCart.quantity ?? 0) + 1)"
        data-cy="entityIncreaseProductCartButton"
        title="Augmenter la quantite"
        [disabled]="this.productCart.product!.quantity! <= 0"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </div>
  <div class="ecom-productcart-delete">
    <button
      title="Supprimer le produit du panier"
      class="ecom-button"
      type="submit"
      (click)="this.deleteLine(this.productCart)"
      data-cy="entityDeleteButton"
    >
      <fa-icon icon="trash"></fa-icon>
    </button>
  </div>
  <div class="ecom-productcart-price">
    <span>Prix : {{ (getPrice(this.productCart) * this.productCart.quantity!).toFixed(2) }} €</span>
  </div>
</div>
