<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="address">
      <h2 data-cy="addressDetailsHeading"><span jhiTranslate="ecomApp.address.detail.title">Address</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ address.id }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.address.road">Road</span></dt>
        <dd>
          <span>{{ address.road }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.address.postalCode">Postal Code</span></dt>
        <dd>
          <span>{{ address.postalCode }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.address.city">City</span></dt>
        <dd>
          <span>{{ address.city }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.address.country">Country</span></dt>
        <dd>
          <span>{{ address.country }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.address.additionalDetails">Additional Details</span></dt>
        <dd>
          <span>{{ address.additionalDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/address', address.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
