:root {
  --couleur-primaire: #518ef8;
  --couleur-primaire-hover: #4272c7;
}

.ecom-title-header {
  font-size: 38px;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}

.ecom-title-header:after {
  content: '';
  background: black;
  position: absolute;
  top: 48px;
  left: 0;
  height: 1px;
  width: 110%;
}

.ecom-button {
  border: 1.5px solid grey;
  box-shadow: 1px 1px 2px grey;
  background-color: var(--couleur-primaire);
  color: white;
}

.ecom-button:hover:enabled {
  background-color: var(--couleur-primaire-hover);
}

.ecom-button:active:not(:disabled) {
  transform: translate(2px, 1px);
}

.ecom-button:disabled {
  opacity: 0.33;
}

.ecom-button-back,
.ecom-button-sort {
  margin-bottom: 20px;
}

.ecom-button-sort {
  text-align: right;
  right: 15px;
}

.ecom-shadow-button {
  box-shadow: 1px 3px 2px grey;
}

.ecom-input-default {
  border-radius: 5px;
  border: 1px solid black;
  height: 35px;
  font-size: 18px;
  padding: 20px 8px;
}

.ecom-link {
  color: var(--couleur-primaire) !important;
}

/* ==============================================================
   Product card
   ===============================================================*/
#ecom-list-products {
  display: grid;
  max-height: calc(100vh - 350px);
  overflow-y: auto;
}

@media (min-width: 2070px) {
  .ecom-favoris-grid #ecom-list-products {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  }
  #ecom-list-products {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 2069px) and (min-width: 1770px) {
  .ecom-favoris-grid #ecom-list-products {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  #ecom-list-products {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1769px) and (min-width: 1560px) {
  .ecom-favoris-grid #ecom-list-products {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  #ecom-list-products {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1559px) {
  .ecom-favoris-grid #ecom-list-products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  #ecom-list-products {
    grid-template-columns: repeat(5, 1fr);
  }
}

.ecom-product {
  margin: 5px;
  position: relative;
  width: 208px;
  height: 328px;
  border: solid 1px #c4c4c4;
  border-radius: 5px;
  box-shadow: 1px 3px 2px grey;
}

.ecom-product-promo-band,
.ecom-productCart-promo-band {
  position: absolute;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: red;
  width: 100px;
  height: 23px;
  position: absolute;
  left: -24px;
  top: 15px;
  transform: rotate(-45deg);
  clip-path: polygon(23% 0%, 77% 0, 100% 100%, 0% 100%);
}

.ecom-productCart-promo-band {
}

/* SCROLLBAR */
/* width */
.ecom-product ::-webkit-scrollbar,
.ecom-cart ::-webkit-scrollbar {
  height: 8px;
}

.ecom-product ::-webkit-scrollbar-track,
.ecom-cart ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.ecom-product ::-webkit-scrollbar-thumb,
.ecom-cart ::-webkit-scrollbar-thumb {
  background: var(--couleur-primaire);
  border-radius: 10px;
}

.ecom-product ::-webkit-scrollbar-thumb:hover,
.ecom-cart ::-webkit-scrollbar-thumb:hover {
  background: var(--couleur-primaire-hover);
}
/* */
.ecom-product-img {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 10px;
}

.ecom-product-img > div {
  border: solid 1px #c4c4c4;
  border-radius: 5px;
  width: 183px;
  height: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.ecom-product-img img {
  max-width: 183px;
  max-height: 130px;
}

.ecom-product-oldprice > p,
.ecom-product-price-weight > p {
  display: inline-block;
  margin: 0 0 0 5px;
  color: red;
}

.ecom-product-price {
  font-size: 0px;
}

.ecom-product-oldprice > span,
.ecom-product-oldprice-weight > .ecom-product-price-decimalsWeight {
  text-decoration: line-through;
}

.ecom-product-price,
.ecom-product-price-weight {
  padding-left: 10px;
}

.ecom-product-price-weight {
  font-size: 13px;
}

.ecom-product-price-integer,
.ecom-product-price-euro,
.ecom-product-price-integer-promo,
.ecom-product-price-euro-promo {
  font-size: 19px;
}

.ecom-product-price-decimals,
.ecom-product-price-decimals-promo {
  font-size: 15px;
}

.ecom-product-price-decimalsWeight {
  font-size: 13px;
}

.ecom-product-info {
  font-size: 15px;
  padding: 3px 10px 0 10px;
}

.ecom-product-info a > span {
  font-size: 18px;
}

.ecom-product-info > div {
  font-size: 14px;
  margin-top: 3px;
}

.ecom-product-info a {
  color: var(--couleur-primaire);
  margin-bottom: 3px;
}

.ecom-product-info a:hover {
  cursor: pointer;
  color: var(--couleur-primaire-hover);
}

.ecom-product-button span,
.ecom-product-button input,
.ecom-product-button svg,
.ecom-product-button button,
.ecom-productcart-button span,
.ecom-productcart-button input,
.ecom-productcart-button svg,
.ecom-productcart-button button {
  font-size: 14px;
}

.ecom-product-button-add {
  width: 85px;
  text-align: center;
}

.ecom-product-button-text {
  width: 25px;
}

.ecom-product-button-text::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.ecom-product-button > div {
  font-size: 12px;
  position: absolute;
  top: 152px;
  right: 10px;
}

.ecom-product-button-add,
.ecom-product-button-minus,
.ecom-product-button-plus {
  border-radius: 50px;
}

.ecom-button-see-cart {
  margin-top: 25px;
  text-align: right;
}

.ecom-button-next {
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 20px;
}

.ecom-product-tags {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 176px;
  height: 35px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.ecom-product-tags > span,
.ecom-productCart-tags > p > span {
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 12px;
}

.ecom-product-tags > span:not(:last-child),
.ecom-productCart-tags > p > span:not(:last-child) {
  margin-right: 5px;
}

.ecom-product-tags > span > a,
.ecom-productCart-tags > p > span > a {
  color: black;
}

.ecom-product-heart {
  position: absolute;
  display: block;
  top: 3px;
  right: 3px;
  height: 30px;
  width: 30px;
  background: white;
  border-radius: 50%;
  border: solid 1px #c4c4c4;
  outline: 3px solid white;
  z-index: 100;
}

.ecom-product-heart > img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 50%;
}

.ecom-product-sold-out > .ecom-product-img {
  opacity: 50%;
  filter: blur(2px);
}

.ecom-product-sold-out-message {
  position: absolute;
  display: block;
  transform-origin: top right;
  transform: rotate(-35deg);
  right: 24px;
  top: 2px;
  width: 216px;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  border-radius: 50px;
  z-index: 1;
  font-weight: bold;
}

.ecom-sort-option > li {
  cursor: pointer;
  color: #444444;
}

.ecom-sort-option > li:hover {
  background-color: var(--couleur-primaire);
  color: white;
}

.ecom-sort-option-active {
  background-color: var(--couleur-primaire) !important;
  color: white !important;
  cursor: default !important;
}

/* ==============================================================
Product card in Cart
===============================================================*/
#ecom-cart-products {
  width: 100%;
}

.ecom-cart {
  position: relative;
  height: 124px;
}

.ecom-cart:first-child {
  border: 1px solid grey;
}

.ecom-cart:not(:first-child) {
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

#ecom-cart-products > *:nth-child(2n) > .ecom-cart {
  background-color: #fafafa;
}

.ecom-cart > * {
  display: inline-block;
}

.ecom-cart-img {
  width: 140px;
  text-align: center;
  padding: 10px 30px 10px 10px;
}

.ecom-cart-img:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 90px;
  top: 17px;
  left: 127px;
  background-color: #c4c4c4;
}

.ecom-cart-img > div {
  border: solid 1px #c4c4c4;
  border-radius: 5px;
}

.ecom-cart-img img {
  max-width: 140px;
  max-height: 100px;
}

.ecom-productcart-button > div {
  font-size: 12px;
  position: absolute;
  top: 50px;
  right: 15px;
}

.ecom-productcart-button > div > div {
  display: inline-block;
}

.ecom-productcart-price {
  font-size: 18px;
  position: absolute;
  bottom: 7px;
  right: 13px;
}

.ecom-productcart-delete {
  position: absolute;
  top: 8px;
  right: 8px;
}

.ecom-productcart-delete button {
  background-color: #ff4747;
  border: 1px solid #c72b2b;
  border-radius: 5px;
  padding: 3px 8px;
}

.ecom-productcart-delete button:hover {
  background-color: #c72b2b !important;
}

.ecom-productcart-delete svg {
  color: white;
}

.ecom-productCart-info > span:first-child {
  font-size: 18px;
  margin-right: 20px;
}

.ecom-productCart-info > span:last-child {
  font-size: 15px;
}

.ecom-productCart-prices > div {
  font-size: 13px;
}

.ecom-productCart-oldprice > div > span:nth-child(2) {
  text-decoration: line-through;
}

.ecom-productCart-oldprice > div > span:nth-child(3) {
  color: red;
}

.ecom-productCart-tags {
  position: absolute;
  bottom: 8px;
  left: 142px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 395px;
  height: 35px;
}

.ecom-cart-button {
  margin: 10px 0 0 30px;
  text-align: right;
}

.ecom-cart-button > div {
  display: inline-block;
  margin-right: 30px;
}

.ecom-cart-button > div:first-child {
  font-size: 21px;
}

.ecom-cart-button > div:last-child {
  font-size: 18px;
}
/* ==============================================================
  Navbar
  ===============================================================*/
.navbar-title {
  font-size: 24px;
}

.ecom-nav-input {
  width: 100%;
  height: 38px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 5px;
}

#ecom-nav-navbar {
  background-color: white !important;
  box-shadow: 0 5px 5px #c4c4c4;
}

.ecom-nav-title {
  color: var(--couleur-primaire);
}

.ecom-nav-cart,
.ecom-nav-profile {
  border: 2px solid var(--couleur-primaire);
  background-color: var(--couleur-primaire);
  border-radius: 50px;
  font-weight: 400;
  padding: 0.5rem;
  display: block;
  color: white;
}

.ecom-nav-cart:hover,
.ecom-nav-cart:focus,
.ecom-nav-profile:hover,
.ecom-nav-profile:focus,
.ecom-nav-opened {
  color: var(--couleur-primaire);
  background-color: white;
  text-decoration: none;
}

.ecom-nav-cart fa-icon {
  margin: 0 4px 0 2px;
}

.ecom-nav-profile fa-icon {
  margin: 0 2px;
}

.ecom-nav-search {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.ecom-nav-search > div {
  position: relative;
  width: 60%;
}

.ecom-nav-search fa-icon {
  cursor: pointer;
  color: var(--couleur-primaire);
  position: absolute;
  top: 5px;
  right: 16px;
}

.ecom-nav-search fa-icon > svg {
  width: 25px !important;
  height: 25px !important;
}

.ecom-nav-menu {
  box-shadow: 3px 3px 3px #c4c4c4;
}

.ecom-nav-menu > li {
  margin: 8px 25px;
}

.ecom-nav-menu > li > a {
  border: 1px solid #c4c4c4;
  padding: 7px 12px;
  border-radius: 5px;
}

.ecom-nav-menu > li > a:hover,
.ecom-nav-signin-opened,
.dropdown-item.active {
  background-color: #808080 !important;
  color: white !important;
}

.ecom-nav-menu > li > a:active {
  transform: translate(2px, 2px);
}

#logout {
  background-color: var(--couleur-primaire);
  color: white;
}

#logout:hover {
  background-color: var(--couleur-primaire-hover) !important;
}
/* ==============================================================
  Signin / Signup
  ===============================================================*/
.ecom-log-panel,
.ecom-payment-panel {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 70px 0;
}

.ecom-log-panel .alert {
  margin: 0 50px 10px 50px;
}

.ecom-log-panel > div {
  width: 500px;
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #c4c4c4;
}

.ecom-log-form {
  margin-bottom: 20px;
}

.ecom-log-label-input {
  position: relative;
}

.ecom-log-label-input:not(:last-child) {
  margin-bottom: 25px;
}

.ecom-log-label-margin {
  margin-bottom: 0 !important;
}

.ecom-log-label-input > * {
  display: block;
}

.ecom-log-label-input > label {
  padding-left: 50px;
}

.ecom-log-label-input > div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.ecom-log-label-input > div > input {
  width: 400px;
}

.ecom-log-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.ecom-log-button > button {
  width: 400px;
  font-size: 18px;
}

.ecom-log-title {
  position: relative;
}

.ecom-log-title > h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.ecom-log-title > h1:after {
  content: '';
  background: black;
  position: absolute;
  top: 45px;
  left: 175px;
  height: 1px;
  width: 150px;
}

.ecom-log-link {
  margin: 0 0 20px 50px;
}

.ecom-log-link > div {
  margin: 8px 0;
}

.ecom-log-rember {
  text-align: right;
  margin: 12px 50px 8px 0;
}

.ecom-log-message {
  color: red;
}

.ecom-log-rob-mdp {
  text-align: center;
  font-size: 16px;
  margin-top: 12px;
}

.ecom-log-rob-mdp ul {
  padding-left: 0;
}

.ecom-log-message-incorect {
  position: absolute;
  top: 72px;
  left: 50px;
}
/* ==============================================================
Payment
===============================================================*/
.ecom-payement {
  position: relative;
}

.ecom-payment-form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.ecom-payment-form > div:first-child {
  width: 55%;
}

.ecom-payment-form > div:nth-child(2) {
  margin-left: 20px;
  width: 40%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.ecom-payment-cb {
  margin-top: 20px;
}

.ecom-payment-date > label,
.ecom-payment-cb > *,
.ecom-payment-promo-code > * {
  display: block;
}

.ecom-payment-cb > input:not(:first-child),
.ecom-payment-cb > div {
  margin-top: 5px;
}

.ecom-payment-cb > div > input,
.ecom-payment-date > div > input {
  display: inline-block;
}

.ecom-payment-date > div,
.ecom-payment-cb > div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.ecom-payment-cb > div > input:first-child,
.ecom-payment-date > div > input:first-child {
  width: 63%;
}

.ecom-payment-cb > div > input:last-child,
.ecom-payment-date > div > input:last-child {
  width: 33%;
}

.ecom-payment-cb > input,
.ecom-payment-promo-code > input {
  width: 100%;
}

.ecom-payment-promo-code > div {
  margin-top: 10px;
  display: flex;
  justify-content: right;
}

.ecom-payment-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ecom-payment-button-price {
  margin-right: 10px;
}

.ecom-payment-button-price > div:first-child {
  font-size: 18px;
}

.ecom-payment-button-price > div:last-child {
  font-size: 15px;
  color: red;
}

.ecom-payment-button-button > button {
  display: block;
  width: 80px;
}

/* ==============================================================
  Categories
  ===============================================================*/
.ecom-products-and-categories {
  position: relative;
}

.ecom-products-and-categories > *:last-child {
  margin-left: 200px;
}

.ecom-categories-panel {
  z-index: 1;
  width: 200px;
  height: calc(100% - 61.75px);
  position: absolute;
  top: 61.75px;
  left: 0;
  box-shadow: 2px 0 2px #c4c4c4;
}

.ecom-categories-list ul,
.ecom-categories-list li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ecom-category {
  padding: 5px 0 0 15px;
}

.ecom-categories-panel a {
  color: black;
  font-size: 16px;
}

.ecom-categories-panel a:hover {
  color: grey;
}

.ecom-category-opened {
  color: var(--couleur-primaire) !important;
  font-weight: bold;
}

.ecom-category-opened:hover {
  color: var(--couleur-primaire-hover) !important;
}

.ecom-categories-list {
  padding: 30px 5px 0 10px;
}

.ecom-categories-list > div > div {
  padding-bottom: 10px;
}

.ecom-categories-list > div {
  max-height: calc(100vh - 146px);
  overflow-y: auto;
}

.ecom-categories-children {
  position: unset !important;
  float: none !important;
  border: none !important;
  background: none !important;
  margin: 0 !important;
  padding: 5px 0 0 15px !important;
  border-radius: unset !important;
  transform: none !important;
  will-change: unset !important;
}

.ecom-categories-list .ecom-title-header {
  font-size: 20px;
}

.ecom-categories-list .ecom-title-header:after {
  top: 30px;
  width: 120px;
}

.ecom-query-header .ecom-title-header:after {
  width: 100%;
}

.ecom-query-header > span {
  padding-left: 10px;
  font-size: 26px;
}

.ecom-categorie-first > div > ul > a {
  font-size: 18px;
}

.ecom-categorie-withoutChild > div > ul > a {
  position: relative;
  padding-left: 13px;
}

.ecom-categorie-withoutChild > div > ul > a:before {
  position: absolute;
  content: '';
  top: 10px;
  left: 4px;
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
}

/* ==============================================================
  Détail produit
  ===============================================================*/
.ecom-detail-product-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.ecom-detail-product-info > div {
}

.ecom-detail-product-info > div > div {
  margin: 20px 0;
}

.ecom-detail-product-info > div > div > span {
  font-size: 18px;
}

.ecom-detail-product-info > div > div > span:nth-child(1) {
  font-weight: bold;
}

.ecom-detail-product-info > div > div > span:nth-child(1):after {
  content: ' : ';
}

.ecom-detail-product-info > div:nth-child(2) > div:nth-child(1) > span:nth-child(1):after {
  content: unset;
}

.ecom-detail-product-info > div:nth-child(1) {
  margin-right: 50px;
  color: red;
}

.ecom-detail-product-info > div:nth-child(1) > div:first-child {
  border: solid 1px #c4c4c4;
  border-radius: 5px;
  width: 275px;
  height: 195px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.ecom-detail-product-info > div:nth-child(1) > div:first-child > img {
  max-width: 275px;
  max-height: 195px;
}

.ecom-detail-product-oldprice > span:nth-child(2) {
  text-decoration: line-through;
}

.ecom-detail-product-oldprice > span:nth-child(3) {
  color: red;
}
