<form *ngIf="message" name="deleteForm" (ngSubmit)="confirm()">
  <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="confirmDialog.title">Do you want to proceed ?</h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <p>
      {{ message }}
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="confirmDialog.cancel">Cancel</span>
    </button>

    <button id="jhi-confirm-delete-product" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="confirmDialog.continue">Continue</span>
    </button>
  </div>
</form>
