<div>
  <div class="ecom-log-panel">
    <div>
      <div class="ecom-log-title">
        <h1 jhiTranslate="reset.request.title">Reset your password</h1>

        <jhi-alert-error></jhi-alert-error>

        <div class="alert alert-danger" *ngIf="!success">
          <span jhiTranslate="reset.request.messages.info">Enter the email address you used to register.</span>
        </div>

        <div class="alert alert-success" *ngIf="success">
          <span jhiTranslate="reset.request.messages.success">Check your emails for details on how to reset your password.</span>
        </div>
      </div>
      <div>
        <form class="ecom-log-form" *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <div class="ecom-log-label-input">
            <label for="email" jhiTranslate="global.form.email.label">Email</label>
            <div>
              <input
                class="ecom-input-default"
                type="email"
                id="email"
                name="email"
                placeholder="{{ 'global.form.email.placeholder' | translate }}"
                formControlName="email"
                data-cy="emailResetPassword"
                #email
              />
            </div>
            <div
              class="ecom-log-message-incorect"
              *ngIf="
                resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
              "
            >
              <small
                class="ecom-log-message"
                *ngIf="resetRequestForm.get('email')?.errors?.required"
                jhiTranslate="global.messages.validate.email.required"
              >
                Your email is required.
              </small>

              <small
                class="ecom-log-message"
                *ngIf="resetRequestForm.get('email')?.errors?.email"
                jhiTranslate="global.messages.validate.email.invalid"
              >
                Your email is invalid.
              </small>

              <small
                class="ecom-log-message"
                *ngIf="resetRequestForm.get('email')?.errors?.minlength"
                jhiTranslate="global.messages.validate.email.minlength"
              >
                Your email is required to be at least 5 characters.
              </small>

              <small
                class="ecom-log-message"
                *ngIf="resetRequestForm.get('email')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.email.maxlength"
              >
                Your email cannot be longer than 100 characters.
              </small>
            </div>
          </div>
          <div class="ecom-log-button">
            <button
              type="submit"
              class="ecom-button ecom-button-next"
              [disabled]="resetRequestForm.invalid"
              jhiTranslate="reset.request.form.button"
              data-cy="submit"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
